.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes spin {
    0% {rotate: 0deg;}
    50% {rotate: 180deg;}
    100% {rotate: 360deg;}
}

.spin {
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
